@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a TorneoApp</h1>
    <p>CRUD de Usuarios -> <a href="@Url.Action("Index", "User")">Ir a la lista de usuarios</a>.</p>
    <p>CRUD de Torneos -> <a href="@Url.Action("Index", "Torneo")">Ir a la lista de torneos</a>.</p>
   <p>Vista de Login -> <a href="Home/Login">Ir a la vista de login</a>.</p>
    <p>Vista de Registro -> <a href="Home/Register">Ir a la vista de registro</a>.</p>
    <p>Vista de Sobre Nosotros -> <a href="Home/AboutUs">Ir a la vista de sobre nosotros</a>.</p>
</div>
